.close-button {
    background-color: none;
    color: red;
    border: none;
    border-radius: 30%;
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.2s;
}

.close-button:hover {
    transform: scale(1.1);
}